body {
    margin: 0;
    overflow-x: hidden;
    background: linear-gradient(
        to bottom,
        


    );
}

.image img {
    width: 90%;
    border-radius: 40px;
    margin-bottom: 0;
    margin-top: 30px;
}

.heading1 {
    font-size: 150%;
    margin-bottom: 0;
    margin-top: 120px;
}

.per-details {
    width: 100%;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-me {
    margin: 0;
    font-size: 100%;
    text-align: center;
}

.btns-container button {
    padding: 10px 20px;
    align-self: center;
    background-color: #291135;
    color: #fff;
    font-size: 10px;
    white-space: nowrap;
    cursor: pointer;
    border: none;

}


.btns-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 60px;

}

.content button {
    display: flex;
    padding: 15px;
    background-color: #815d91;
    border: 1px solid #fff;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 100px;
    color: #d6c0db;

    align-items: center;
    border-radius: 100px;
    width: 100px;
    height: 10px;
}

.about-heading {
    font-size: 150%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #000000;
}

.about {
    font-size: 100%;
    text-align: center;
}

.about-myself {
    background-color: rgb(255, 255, 255, 0.1);
    border-radius: 40px;
    padding: 10%;
    width: 70%;
    height: 400%;

    backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.60);
    border: 1px solid rgba(255, 255, 255, 0.2);
}
.image{
    display: flex;
    justify-content: center;
}
.about-bg {
    margin: 10%;
    margin-top: 20%;
    margin-bottom: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


hr {
    width: 20%;
    border: 1px solid #333;
}

/* .cards{
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* margin-top: 30px; */
/* justify-content: center;
    align-items: center;
}  */

.projects {
    font-size: 110%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: #000000;

}

.tech-par {
    margin-bottom: 0;
}


.skills-section {
    padding: 0;
    text-align: center;
    margin: 0;
}

.skills-section .container {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    margin: 0;
    justify-content: center;
    align-items: center;
    gap: 0;
    padding: 10%;
    font-family: Arial, Helvetica, sans-serif;

}

.skills-section .container .card {
    position: relative;

}

.card .face {
    width: 250px;
    height: 200px;
    transition: 0.4s;


}

.card .face.face1 {
    border-radius: 20px;
    position: relative;
    background: #563564;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    z-index: 1;
    transform: translateY(50%);

}

.card:hover .face.face1 {
    transform: translateY(0);
    box-shadow: inset 0 0 80px whitesmoke, inset 20px 0 80px #f0f, inset -20px 0 80px #0ff, inset 20px 0 300px #f0f, inset 20px 0 300px #0ff, 0 0 50px #fff, -20px 0 80px #0ff;
}

.card .face.face1 .content {
    opacity: 0.7;
    transition: 0.2s;
    text-align: center;

}

d:hover .face.face1 .content {
    opacity: 1;

}

.content,
h2 {
    font-size: 1em;
    color: #fff;
    text-align: center;

}

.content,
a {
    transition: 0.5s;

}

.face.face2 {
    position: relative;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
    border-radius: 10%;
    padding: 10%;


}

.face.face2 .content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card:hover .face.face2 {
    transform: translateY(0);
}

.content p,
.content a {
    font-size: 12px;
    color: #000;
    margin: 0;
    padding: 5px;
}

.content a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    font-size: 11px;
    box-sizing: border-box;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 10%;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.70);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 100px;
    width: 50%;
    padding: 3%;
    text-align: center;

}

.content a:hover {
    background: #333;
    color: whitesmoke;
    box-shadow: inset 0 10px 10px rgb(0, 0, 0, 0.8);
}

footer {
    text-align: center;
    background-color:lightgray;
    padding: 0;
    padding-top: 7%;
    padding-bottom: 5%;
    color: #000000;

}

.socials {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    padding: 0;
}

#Nwabisa {
    font-size: 90%;
    margin-bottom: 0;
}

/* tablet and up screen size */
@media (min-width: 500px) {

    .heading1 {
        font-size: 175%;
    }


    .about-heading {
        font-size: 30px;

    }

    .about {
        font-size: 15px;
    }


    .projects {
        font-size: 20px;
    }

    hr {
        width: 15%;
    }

    .skills-section .container {
        gap: 5%;

    }

    .socials {
        display: flex;
        gap: 20px;
    }

    .social img {
        width: 30px;
    }

    #Nwabisa {
        font-size: 15px;
    }
}

/* adjust image size at 600px */
@media (min-width: 600px) {
    .about-bg img {
        width: 275px;
        display: block;
        margin: 0 auto;
        margin-top: 35px;
    }
}

/* Ipads and up screen size */
@media (min-width: 791px) {
    .heading1 {
        font-size: 190%;
    }

    .about-heading {
        font-size: 35px;

    }

    /* .about-bg {
        margin-top: 10%;
        margin-bottom: 100px;
        margin-left: 15px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 25px;
    } */

    .about-myself {
        padding: 25px;
        width: 70%;
        height: 300px;
    }

    .image img{
        margin-top: 0;
    }

    .about-bg {
        display: flex;
        margin: 10% 5%;
        flex-direction: row;
        align-items: center;
        gap: 30px;
    }

    hr {
        margin-bottom: 0;
    }

    .skills-section .container {
        padding: 0;
    }

}

/* laptop screen sizes */
@media (min-width: 1000px) {
    .heading1 {
        font-size: 260%;
    }
    .btns-container button{
        padding: 12px 25px;
        font-size: 15px;
    }
    .about{
        font-size: 20px;
    }
    .about-myself{
        padding: 35px;
        width: 800px;
        height: 300px;
    }
    footer{
        padding-top: 20px;
        padding-bottom: 20px;
    }
}